extends layout 

block content
  h1 Title !{book.title}
  p #[strong Author:]
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary: ] !{book.summary}
  p #[strong ISBN: ] #{book.isbn}
  p #[strong Genre: ] 
    each val,index in book.genre
      a(href=val.url) #{val.name}
      if index < val.length-1 
        |,&nbsp;
  div(style='margin-left:20px;margin-top:20px')
    h2(style='font-size: 1.5rem;') Copies

    each value in book_instances 
      hr
      if value.status=="Available"
       p.text-success #{value.status}
      else if value.status=="Maintenance"
       p.text-danger #{value.status}
      else 
       p.text-warning #{value.status}
      p #[strong Imprint:] #{value.imprint}
      if value.status!='Available'
        p #[strong Due back:] #{value.due_back}
      p #[strong Id: ]
        a(href=value.url) #{value._id}   
  hr
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book
